.point {
  background-image: url('./images/point-north.svg');
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: center;
  font-size: 0.75rem;
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 18vw;
  width: 3vw;
  .checker-container {
    position: relative;
    top: -18px;
  }
}

.point-position {
  font-size: 0.75rem;
}

.point.se,
.point.sw {
  background-image: url('./images/point-south.svg');
  display: flex;
  flex-direction: column-reverse;
  .point-position {
    position: relative;
    top: 20px;
  }
  .checker-container {
    position: relative;
    top: 18px;
  }
}

.point.nw,
.point.ne {
  .point-position {
    position: relative;
    top: -20px;
  }
}

.point.se.even,
.point.sw.even {
  background-image: url('./images/point-south-even.svg');
}

.point.ne.even,
.point.nw.even {
  background-image: url('./images/point-north-even.svg');
}
