$accent: rgba(255, 223, 223, .4);

.point-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &.SW,
  &.SE {
    flex-direction: row-reverse;
  }

  .point-label {
    font-size: 0.8rem;
    .black {
      color: $accent;
      font-size: .9rem;
    }
  }


}

