$border: #212121;
$dark: #006b5f;

.checker {
  border: 2px solid $border;
  border-radius: 50%;
  width: 2.8vw;
  height: 2.8vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    background-color: $border;
  }

  &.white {
    background-color: #fff;
  }
}

.off-container {
  .checker-box {
    .checker {
      border-radius: 5px;
      width: 3vw;
      height: 0.5vh;
      border-radius: none;

      // FIXME: bad colors for checkers
      &.white {
        background-color: #fff;
      }
      .checker-overlay {
        display: none;
      }
    }
  }
}
