.checker {
  border: 2px solid black;
  border-radius: 50%;
  width: 2.8vw;
  height: 2.8vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    background-color: #770000;
  }

  &.white {
    background-color: #ddd;
  }
}

.off-container {
  .checker-box {
    .checker {
      border-radius: 5px;
      width: 3vw;
      height: 1vh;
      border: none;
      border-radius: none;

      .checker-overlay {
        display: none;
      }
    }
  }
}
