$border: #212121;
$border-light: #ccc;
$dark: #006b5f;
$background: #26a89d;
$accent: #6b000c;

.checker {
  border: 2px solid $border;
  border-radius: 50%;
  width: 2.8vw;
  height: 2.8vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    background-color: $accent;
  }

  &.white {
    background-color: #fff;
  }
}

.checker-overlay {
  &.count {
    color: $dark;
    font-size: 1.5em;
    font-weight: bold;
  }
}
.off-container {
  .checker-box {
    .checker {
      border-radius: 5px;
      width: 3vw;
      height: 0.5vh;
      border-radius: none;

      // FIXME: bad colors for checkers
      &.white {
        background-color: #fff;
      }
    }
  }
}
