.board-grid {
  display: flex;
  flex-direction: row;
}
.board-half {
  width: 22vw;
}

.board-half-inner {
  width: 100%;
  background-color: #00988b !important;
}

.board-quadrant {
  display: flex;
  justify-content: space-around;

  &.sw,
  &.se {
    flex-direction: row-reverse;
  }

  .board-point {
    width: 3vw;
    height: 18vw;
    background-color: #00988b !important;

    .point-background {
      height: 100%;

      // &.north {
      //   transform: rotate(180deg);
      // }
    }
  }
}
