#NodotsBgBoard {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid #2c486b;
  border-radius: 5px;

  .col {
    height: 100%;
    width: 100%;
  }

  .rail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: wheat !important;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    padding: 4px;
    .checker-container {
      height: 18vw;
    }
  }

  .roll-surface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 100%;
    background-color: rgba(235, 162, 96);
    cursor: pointer;
  }

  .off-container {
    border-left: 1px solid #2c486b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;

    .checker-container {
      border: 0.25px solid #2c486b;
      border-radius: 5px;
      height: 15vw;
    }
  }

  .checker-container {
    background-color: transparent;
    width: 3vw;
  }
}
