@import '../../theme/partials/dimensions';
@import '../../theme/partials/colors';

$accent: rgba(20, 20, 20, 1 );
$border: 1px solid $primary-main;

  #BoardContainer {
    height: $checker-height * 13;
    width: $checker-height * 15;
    margin: $checker-height * .75 auto;
    display: flex;
    flex-direction: row;
    border: $border;
    border-radius: $border-radius;
    background-color: rgba(0, 88, 181, 0.2);
    padding: 10px;

    .board-half {
      width: $checker-height * 6;
      border-radius: $border-radius;
      border-color: $primary-main;
      background-color: $board-color;
      height: 100%;
      margin: 0px 10px;
      display: flex;
      flex-direction: column;
    }

    .point-labels {
      display: flex;
      font-size: 0.75rem;
      color: #aaa;
      flex-direction: row;
      justify-content: space-around;
      border-radius: $border-radius $border-radius 0px 0px;
      background-color: rgba(32, 32, 32, 0.8);
      &.south {
        border-radius: 0px 0px 10px 10px;
        flex-direction: row-reverse;
      }
    }

    .quadrant {
      height: $checker-height * 6;
      display: flex;
      justify-content: space-around;
      border-radius: $border-radius;
      background-color: $board-color;

      .point {
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0px 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url('../Point/images/point-north-mask.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &.even {
          background-color: rgba(48, 65, 114, 0.5);
        }
        &.odd {
          background-color: rgba(106, 125, 181, 0.5);
        }
      }

      &.south {
        .point {
          align-items: flex-end;
          flex-direction: column-reverse;
          background-image: url('../Point/images/point-south-mask.svg');
        }
      }
    }

    .rollsurface {
      min-height: $checker-height * .5;
      width: 100%;
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }

    #Bar, #Off {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: $border;
      border-radius: 10px;
    }

    #Bar {
      width: $checker-height + 10px;
    }

    #Off {
      width: $checker-height + 30px;
      .checkerbox {
        height: $checker-height * 2.5;
        margin: $checker-height  0px;
        width: 100%;
        border: 1px solid $primary-main;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;

        &.counterclockwise {
          justify-content: flex-end;
        }

      }
    }
  }

  .cube {
    height: $checker-height;
    width: $checker-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(106, 125, 181, 0.5);
    border-radius: $border-radius;
    font-size: 2rem;
  }


  // Large screen
  @media screen and (min-width: 2000px) {
    $checker-height: 100px;
  
    #BoardContainer {
      height: $checker-height * 13;
      width: $checker-height * 15;
      margin: ($checker-height * .75) auto;
  
      .board-half {
        width: $checker-height * 6;
      }
  
      .quadrant {
        height: $checker-height * 6;
      }
  
      .rollsurface {
        min-height: $checker-height * .5;
      }
  
      #Bar {
        width: $checker-height + 10px;
      }
  
      #Off {
        width: $checker-height + 30px;
        .checkerbox {
          height: $checker-height * 2.5;
          margin: $checker-height  0px;      
        }
      }
    }
  
    .cube {
      height: $checker-height;
      width: $checker-height;
    }
  
    .checker {
      width: $checker-height;
      height: $checker-height;
    }
}

// ipad
@media screen and (min-width: 1360px) and (max-width: 1368px) {
  $checker-height: 70px;

  #BoardContainer {
    height: $checker-height * 13;
    width: $checker-height * 15;
    margin: ($checker-height * .75) auto;

    .board-half {
      width: $checker-height * 6;
    }

    .quadrant {
      height: $checker-height * 6;
    }

    .rollsurface {
      min-height: $checker-height * .5;
    }

    #Bar {
      width: $checker-height + 10px;
    }

    #Off {
      width: $checker-height + 30px;
      .checkerbox {
        height: $checker-height * 2.5;
        margin: $checker-height  0px;
    
      }
    }
  }

  .cube {
    height: $checker-height;
    width: $checker-height;
  }

  .checker {
    width: $checker-height;
    height: $checker-height;
  }
}

// small phone
@media screen and (max-width: 896px) {
  $checker-height: 34px;

  #BoardContainer {
    height: 100%;
    width: 100%;
    margin: auto auto;
    border: none !important;
    border-radius: none !important;
    .board-half {
      width: $checker-height * 10;
      height: $checker-height * 12;
    }

    .quadrant {
      height: $checker-height * 7;
    }

    .rollsurface {
      min-height: $checker-height * .5;
    }

    #Bar {
      width: $checker-height + 2px;
    }

    #Off {
      width: $checker-height + 3px;
      .checkerbox {
        height: $checker-height * 2.5;
        margin: $checker-height  0px;
    
      }
    }
  }

  .cube {
    height: $checker-height;
    width: $checker-height;
    font-size: 1rem;
  }

  .checker {
    width: $checker-height;
    height: $checker-height;
  }

  .die {
    width: $checker-height * .5;
    height: $checker-height * .5;
  }
}