$checker-width: 3vw;
$point-width: $checker-width;
$point-height: $point-width * 6;
$quadrant-width: $point-width * 7;
$board-width: ($quadrant-width * 2) + ($checker-width * 2) + 1.5vw;
$board-height: $point-height * 3;

$board-color: #2f732f;
$primary-light: #a8afc7;
$primary-main: #575f90;
$accent: #6b000c;

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  padding-top: $checker-width;
  padding-bottom: $checker-width;
  .roll-surface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 100%;
    background-color: $board-color;
    cursor: pointer;
  }

  .rail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 0px !important;
    padding: 10px;

    .rail-checker-box {
      height: 12vw;
      width: $checker-width;
    }

    .pip-count {
      font-size: 0.8rem;
      width: 100%;
      text-align: center;
      &.black {
        background-color: $accent;
        color: white;
      }
      &.white {
        background-color: white;
        color: black;
      }
    }
  }

  .off-container {
    display: flex;
    align-items: center;
    padding: 10px;
    .off-checker-box {
      height: 9vw;
      width: $checker-width;
    }
    .cube-container {
      width: $checker-width;
      height: $checker-width;
      margin: 0.5vw auto;
      padding: 5px;

      .cube {
        width: 100%;
        height: 100%;
        border: 2px solid $primary-main;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .dice-container {
      height: 3.4vw;
      width: 1.8vw;
      margin: auto auto;
      padding: 2px;
    }
  }

  .board-half {
    margin-left: 10px;
    margin-right: 10px;
  }

  .quadrant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $board-color;

    &.S {
      flex-direction: row-reverse;
    }

    .point {
      position: relative;
      display: flex;
      background-color: $board-color;
      background-repeat: no-repeat;
      background-size: $point-width $point-height;
      margin-left: 5px;
      margin-right: 5px;
      min-width: $checker-width;
      max-width: $checker-width;
      min-height: $point-height;
      &.even {
        background-color: rgba(48, 65, 114, 0.5);
      }
      &.odd {
        background-color: rgba(106, 125, 181, 0.5);
      }

      &.north {
        background-image: url('../Point/images/point-north-mask.svg');
        flex-direction: column;
        justify-content: flex-start;
      }

      &.south {
        background-image: url('../Point/images/point-south-mask.svg');
        flex-direction: column-reverse;
      }

      .checker-box {
        display: flex;
      }
    }
  }
  .point-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.SW,
    &.SE {
      flex-direction: row-reverse;
    }

    .point-label {
      font-size: 0.6rem;
    }
  }
}

// FIXME: This rule handles an iOS (yes, iOS) bug that prevents
// proper scaling of background svgs. Find a better solution.
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .point {
    background-image: none !important;
    background-color: $primary-main !important;
    &.even {
      background-color: $primary-light !important;
    }
  }
}
