.quadrant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(235, 162, 96, 1);
}

.quadrant.sw,
.quadrant.se {
  flex-direction: row-reverse !important;
}
