$border: #212121;
$dark: #006b5f;
$background: #26a89d;

.quadrant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $background;
}

.quadrant.sw,
.quadrant.se {
  flex-direction: row-reverse !important;
}
