@import '../../theme/partials/dimensions';
@import '../../theme/partials/colors';

.checker {
  border: 1px solid $primary-main;
  border-radius: 50%;
  width: $checker-height;
  height: $checker-height;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    background-color: $black-color;
  }

  &.white {
    background-color: $white-color;
  }
}

.checker-overlay {  
  &.count {
    color: $primary-main;
    font-size: 1.5em;
    font-weight: bold;
  }
}
#Off {
  .checkerbox {
    .checker {
      border-radius: 5px;
      width: $checker-height;
      height: 10px;
      border-radius: none;
      margin: 2px 0px;

      svg {
        display: none;
      }
      // FIXME: bad colors for checkers
      &.white {
        background-color: #fff;
      }
    }
  }
}
