.checker {
  border: 1px dotted silver;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.off-container {
  .checker-container {
    .checker {
      width: 3vw;
      height: 1vh;
      border: none;
      border-radius: none;
    }
  }
}
