.checker {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 50%;
  width: 3.25vw;
  height: 3.25vw;
  margin: auto auto;
  cursor: pointer;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
