// @import '../../../theme/partials/dimensions';
// @import '../../../theme/partials/colors';
@import '../../../theme/partials/borders';

$checker-height: 90px;
$point-padding: $checker-height * 0.1;
$board-padding: $point-padding * 2;

.hidden {
  display: none;
}

.debug-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.debug-highlight {
  position: absolute;
  top: 0;
  left: 0;
}

#RevertMoveButton {
  cursor: pointer;
}

#GameContainer {
  display: flex;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  align-items: flex-start;
  justify-content: flex-start;
}

#MoveHistoryContainer {
  flex-grow: 1;
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  height: $checker-height * 12;
}

#GameNotificationsContainer {
  height: 8vh;
  #GameNotifications {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px $checker-height - 25px 10px 0;
    min-width: 400px;
  }
}

#DebugNotifications {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px;
  width: 90vw;
  height: 50vh;
  overflow: scroll;
  background-color: rgba(0, 38, 86, 0.8);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  .debug-state {
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
  }
}

#EventNotifications {
  position: absolute;
  z-index: 10;
  background-color: blue;
  padding: 15px;
  top: 80px;
  right: 120px;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
}

.cube {
  width: $checker-height * 0.75;
  height: $checker-height * 0.75;
  border: $border !important;
  border-radius: $border-radius;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
}

.dice-container {
  min-height: $checker-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  .dice-switcher {
    cursor: pointer;
  }
}

.quadrant {
  .point {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: $checker-height + $point-padding !important;
    position: relative;
    margin: 0px;
    padding: 0px ($point-padding * 0.5);
    z-index: 1;

    .point-background {
      &.south {
        transform: rotate(180deg) !important;
      }
    }
  }

  &.south {
    flex-direction: row-reverse;

    .point {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  border-radius: 5px;
  height: $checker-height * 0.5;
  width: $checker-height * 0.5;
  background-color: black;
  &.black {
    background-color: white;
  }
}

.checker-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;

  &.south {
    flex-direction: column-reverse;
  }
}

.checker {
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: $checker-height - 4px;
  width: $checker-height - 4px;

  &:hover {
    background-color: #004433 !important; // FIXME
  }

  .checker-center {
    border-radius: 50% !important;
    width: $checker-height * 0.25;
    height: $checker-height * 0.25;
  }

  .count {
    color: white;
  }

  &.highlight {
    border-radius: 10px !important;
    .debug {
      display: block !important;
      color: white;
    }
  }
}

#BoardContainer {
  display: flex;
  padding: $board-padding 0 $board-padding $board-padding;
  margin: 20px auto;
  .board-half {
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 5px;
    .quadrant-container {
      display: flex;
      flex-direction: column;

      &.south {
        flex-direction: column-reverse;
        border-top: none;
      }
    }
  }

  .quadrant {
    display: flex;
  }

  #Bar,
  #Off {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $checker-height;
  }

  #Bar {
    justify-content: space-between;
    .pip-count {
      min-width: 2.5rem;
    }
  }

  #Off {
    justify-content: space-around;
    width: $checker-height + 10px;
    .checkercontainer {
      display: flex;
      flex-direction: column;
      margin: 5px;
      border-radius: $border-radius;
      height: 8px * 20;
      width: $checker-height - 5px;
      margin: 15px 0px 15px 0px;
      padding: 5px 0px 5px 0px;
      .checker {
        max-height: 8px;
        border-radius: 0 !important;
        margin: 2px 0 0 0px;
        padding: 1px !important;
      }
      &.clockwise {
        flex-direction: column-reverse;
      }
    }
  }

  .point-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.75rem;
    &.south {
      flex-direction: row-reverse;
    }
  }
}

// @import url('small-notebook.scss');
// @import url('ipad.scss');
// @import url('small.scss');
// @import url('large.scss');
