// @import '../../../theme/partials/dimensions';
// @import '../../../theme/partials/colors';
@import '../../../theme/partials/borders';

$checker-height: 114px;
$point-padding: 8px;
$board-padding: $point-padding * 2;

#GameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto;
}

#GameNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px $checker-height 10px 0;
}

.cube {
  width: $checker-height * 0.75;
  height: $checker-height * 0.75;
  border: $border !important;
  border-radius: $border-radius;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
}

.rollsurface {
  min-height: $checker-height * 0.75;
}

.dice-container {
  &.inactive {
    display: none;
  }
}

.quadrant {
  .point {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: $checker-height * 5 !important;
    min-width: $checker-height + $point-padding !important;
    position: relative;
    margin: 0px;
    padding: 0px ($point-padding * 0.5);
    z-index: 1;

    .point-background {
      &.south {
        transform: rotate(180deg) !important;
      }
    }
  }

  &.south {
    flex-direction: row-reverse;
    .point {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  border-radius: 5px;
  height: $checker-height * 0.5;
  width: $checker-height * 0.5;
  background-color: black;
  &.black {
    background-color: white;
  }
}

.checker-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
}

.checker {
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: $checker-height;
  width: $checker-height;

  .checker-center {
    border-radius: 50% !important;
    width: $checker-height * 0.25;
    height: $checker-height * 0.25;
  }
}

#BoardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $board-padding 0 $board-padding $board-padding;

  .board-half {
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 5px;
    .quadrant-container {
      display: flex;
      flex-direction: column;

      &.south {
        flex-direction: column-reverse;
        border-top: none;
      }
    }
  }

  .quadrant {
    display: flex;
  }

  #Bar,
  #Off {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $checker-height;
  }

  #Bar {
    justify-content: space-between;
  }

  #Off {
    justify-content: center;
  }

  .point-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.75rem;
    &.south {
      flex-direction: row-reverse;
    }
  }
}

// @import url('small-notebook.scss');
// @import url('ipad.scss');
// @import url('small.scss');
// @import url('large.scss');
