// large screen
@import '../../../theme/partials/dimensions';
@import '../../../theme/partials/colors';
@import '../../../theme/partials/borders';

@media screen and (min-width: 2300px) {
  $checker-height: 120px;
  .checker {
    height: $checker-height !important;
    width: $checker-height !important;
  }
  .cube {
    height: $checker-height;
    width: $checker-height;
  }
  .die {
    border: 1px solid teal !important;
  }

  #BoardContainer {
    .rollsurface {
      min-height: $checker-height !important;
    }
    border: $border !important;
    border-radius: $border-radius;
    padding: 5px;

    .quadrant {
      .point {
        min-width: $checker-height !important;
      }
    }

    #Bar,
    #Off {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-width: $checker-height;
    }
  }
}
