.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 2vw;
  margin: 0 2px;
  border-radius: 2px;
  border: 1px solid black;
}

.die.black {
  color: white;
}

.die.white.one {
  background-image: url('./images/white/dice-six-faces-one.svg');
}

.die.white.two {
  background-image: url('./images/white/dice-six-faces-two.svg');
}

.die.white.three {
  background-image: url('./images/white/dice-six-faces-three.svg');
}

.die.white.four {
  background-image: url('./images/white/dice-six-faces-four.svg');
}

.die.white.five {
  background-image: url('./images/white/dice-six-faces-five.svg');
}

.die.white.six {
  background-image: url('./images/white/dice-six-faces-six.svg');
}

.die.black.one {
  background-image: url('./images/black/dice-six-faces-one.svg');
}

.die.black.two {
  background-image: url('./images/black/dice-six-faces-two.svg');
}

.die.black.three {
  background-image: url('./images/black/dice-six-faces-three.svg');
}

.die.black.four {
  background-image: url('./images/black/dice-six-faces-four.svg');
}

.die.black.five {
  background-image: url('./images/black/dice-six-faces-five.svg');
}

.die.black.six {
  background-image: url('./images/black/dice-six-faces-six.svg');
}
