$border: #212121;
$border-light: #ccc;
$dark: #006b5f;
$background: #26a89d;
$accent: #6b000c;

.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 2vw;
  margin: 0 2px;
  border-radius: 2px;
  border: 1px solid black;

  &.black {
    color: black;
    &.one {
      background-image: url('./images/black/dice-six-faces-one.svg');
    }
    &.two {
      background-image: url('./images/black/dice-six-faces-two.svg');
    }
    &.three {
      background-image: url('./images/black/dice-six-faces-three.svg');
    }
    &.four {
      background-image: url('./images/black/dice-six-faces-four.svg');
    }
    &.five {
      background-image: url('./images/black/dice-six-faces-five.svg');
    }
    &.six {
      background-image: url('./images/black/dice-six-faces-six.svg');
    }
  }

  &.white {
    color: white;
    &.one {
      background-image: url('./images/white/dice-six-faces-one.svg');
    }
    &.two {
      background-image: url('./images/white/dice-six-faces-two.svg');
    }
    &.three {
      background-image: url('./images/white/dice-six-faces-three.svg');
    }
    &.four {
      background-image: url('./images/white/dice-six-faces-four.svg');
    }
    &.five {
      background-image: url('./images/white/dice-six-faces-five.svg');
    }
    &.six {
      background-image: url('./images/white/dice-six-faces-six.svg');
    }
  }
}

.dice-container {
  border: 0.5px solid $border-light;
  border-radius: 5px;
  height: 4.5vw;
  width: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $background;
}
