@import '../../theme/partials/dimensions';
@import '../../theme/partials/colors';

.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $checker-height * .5;
  width: $checker-height * .5;
  margin: 0 2px;
  background-repeat: no-repeat;
  border: 1px solid gray;
  border-radius: 5px;

  &.black {
    background-color: white;
    background-size: cover;
    border-radius: 5px;
    &.one {
      background-image: url('./images/black/one.svg');
    }
    &.two {
      background-image: url('./images/black/two.svg');
    }
    &.three {
      background-image: url('./images/black/three.svg');
    }
    &.four {
      background-image: url('./images/black/four.svg');
    }
    &.five {
      background-image: url('./images/black/five.svg');
    }
    &.six {
      background-image: url('./images/black/six.svg');
    }
  }

  &.white {
    background-color: black;
    &.one {
      background-image: url('./images/white/one.svg');
    }
    &.two {
      background-image: url('./images/white/two.svg');
    }
    &.three {
      background-image: url('./images/white/three.svg');
    }
    &.four {
      background-image: url('./images/white/four.svg');
    }
    &.five {
      background-image: url('./images/white/five.svg');
    }
    &.six {
      background-image: url('./images/white/six.svg');
    }
  }
}
