$primary-dark: rgba(20, 20, 33, 0.4);
$primary-light: #a8afc7;
$primary-main: #575f90;
$secondary-light: #004f42;
$secondary-main: #00988b;
$secondary-dark: #004f42;

$accent: #6b000c;

.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5vw;
  width: 1.5vw;
  margin: 0 2px;
  background-repeat: no-repeat;
  border: 1px solid gray;
  border-radius: 5px;

  &.black {
    background-color: white;
    background-size: cover;
    border-radius: 5px;
    &.one {
      background-image: url('./images/black/one.svg');
    }
    &.two {
      background-image: url('./images/black/two.svg');
    }
    &.three {
      background-image: url('./images/black/three.svg');
    }
    &.four {
      background-image: url('./images/black/four.svg');
    }
    &.five {
      background-image: url('./images/black/five.svg');
    }
    &.six {
      background-image: url('./images/black/six.svg');
    }
  }

  &.white {
    background-color: black;
    &.one {
      background-image: url('./images/white/one.svg');
    }
    &.two {
      background-image: url('./images/white/two.svg');
    }
    &.three {
      background-image: url('./images/white/three.svg');
    }
    &.four {
      background-image: url('./images/white/four.svg');
    }
    &.five {
      background-image: url('./images/white/five.svg');
    }
    &.six {
      background-image: url('./images/white/six.svg');
    }
  }
}

.dice-container {
  border-radius: 5px;
  height: 4.5vw;
  width: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
