.die {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  border-radius: 2px;
  border: 1px solid black;
}

.die.white {
  background-color: white;
  color: black;
}

.die.black {
  display: none;
  background-color: black;
  color: white;
}

.die.one {
  background-image: url('./dice-six-faces-one.svg');
}

.die.two {
  background-image: url('./dice-six-faces-two.svg');
}

.die.two {
  background-image: url('./dice-six-faces-three.svg');
}

.die.four {
  background-image: url('./dice-six-faces-four.svg');
}

.die.five {
  background-image: url('./dice-six-faces-five.svg');
}

.die.six {
  background-image: url('./dice-six-faces-six.svg');
}
