$primary-light: rgb(168, 175, 199);
$primary-main: rgb(87, 95, 144);

$primary-main-50: rgb(87, 95, 144, 0.5);
$primary-main-20: rgb(87, 95, 144, 0.5);

// $primary-main: #2c387e;
// $primary-light: #4dabf5;
// $surface-color: #277714;

$board-color: $primary-main;

$black-color: rgba(20, 20, 20, 1);
$white-color: rgba(0, 58, 108, 1);

$accent: rgba(20, 20, 20, 1);
$text-light: #aaa;
