.App {
  display: flex;
  align-items: center;
  justify-content: flex;
}

.board-frame {
  margin-top: 10px !important;

  .game-id {
    font-size: 0.75rem;
    display: inline-block;
    width: 100%;
    margin: auto auto;
    text-align: center;
  }
}

.player-info-container {
  padding: 4px;
  h2 {
    text-align: center;
  }
  .active {
    background-color: blue;
    color: white;
  }
}

.player-info-card {
  margin-top: 4px;
  padding: 4px;
}
