@import url('./typography/index.scss');
@import url('./components/Board/index.scss');
@import url('./components/Checker/index.scss');
@import url('./components/CheckerBox/index.scss');
@import url('./components/Cube/index.scss');
@import url('./components/Die/index.scss');
@import url('./components/Quadrant/index.scss');
@import url('./components/Point/index.scss');
@import url('./components/Info/index.scss');

@import url('./forms/index.scss');

$border: #212121;
$dark: #006b5f;
$background: #26a89d;
$blue-accent: #2c486b;

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $border;
}

.board-frame {
  display: flex;
  padding: 20px;
  background-color: $blue-accent !important;
  color: #eee !important;
}

body {
  margin: 0px;
}
