@import url('./typography/index.scss');
@import url('./components/Board/index.scss');
@import url('./components/Checker/index.scss');
@import url('./components/CheckerBox/index.scss');
@import url('./components/Die/index.scss');
@import url('./components/Cube/index.scss');

@import url('./components/Quadrant/index.scss');
@import url('./components/Point/index.scss');
@import url('./components/Info/index.scss');

@import url('./forms/index.scss');

$checker-width: 3vw;
$point-width: $checker-width;
$point-height: $point-width * 6;
$quadrant-width: $point-width * 7;

$board-color: #00988b;

$primary-dark: rgba(20, 20, 33, 0.4);
$primary-light: #a8afc7;
$primary-main: #575f90;
$secondary-light: #004f42;
$secondary-main: #00988b;
$secondary-dark: #004f42;

.board-frame {
  margin-top: 100px;
  padding: 20px;
  background-color: #212121;
}

.board {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  background-color: $primary-dark;
  .roll-surface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 100%;
    background-color: $board-color;
    cursor: pointer;
  }

  .rail {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .rail-checker-box {
      height: 15vw;
      width: $checker-width;
      border: 1px solid $primary-dark;
    }
    .off-checker-box {
      height: 8vw;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .cube-container {
      height: $checker-width;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .dice-container {
      height: $checker-width * 1.5;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
  }

  .off-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

    .off-checker-box {
      height: 8vw;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .cube-container {
      height: $checker-width;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .dice-container {
      height: $checker-width * 1.5;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
  }

  .quadrant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $board-color;
    min-width: $point-width * 7;

    &.S {
      flex-direction: row-reverse;
    }

    .point {
      position: relative;
      display: flex;
      background-color: $board-color;

      background-repeat: no-repeat;
      background-size: 100% 100%;
      min-width: $checker-width;
      max-width: $checker-width;
      min-height: $point-height;

      &.north {
        flex-direction: column;

        &.even {
          background-image: url('../components/Point/images/point-north-even.svg');
        }

        &.odd {
          background-image: url('../components/Point/images/point-north.svg');
        }
      }

      &.south {
        flex-direction: column-reverse;
        &.even {
          background-image: url('../components/Point/images/point-south-even.svg');
        }

        &.odd {
          background-image: url('../components/Point/images/point-south.svg');
        }
      }

      .checker-box {
        display: flex;

        &.north {
          flex-direction: column;
        }

        &.south {
          flex-direction: column-reverse;
        }
      }
    }
  }
  .point-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.SW,
    &.SE {
      flex-direction: row-reverse;
    }

    .point-label {
      font-size: 0.6rem;
    }
  }
}
.cube {
  background-color: $primary-main !important;
  color: #fff !important;
  height: $checker-width - 0.1;
  width: $checker-width - 0.1;
}
