@import url('./typography/index.scss');
@import url('./components/Board/index.scss');
@import url('./components/Checker/index.scss');
@import url('./components/CheckerBox/index.scss');
@import url('./components/Die/index.scss');
@import url('./components/Cube/index.scss');
@import url('./components/Quadrant/index.scss');
@import url('./components/Point/index.scss');
@import url('./components/Info/index.scss');
@import url('./forms/index.scss');

$checker-width: 3vw;
$point-width: $checker-width;
$point-height: $point-width * 6;
$quadrant-width: $point-width * 7;

$board-color: #00988b;

$primary-dark: rgba(20, 20, 33, 0.4);
$primary-light: #a8afc7;
$primary-main: #575f90;
$secondary-light: #004f42;
$secondary-main: #00988b;
$secondary-dark: #004f42;

$accent: #6b000c;

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;

  .board-half {
    border-top: 25px solid #222;
    border-bottom: 25px solid #222;

    &.west {
      border-left: 25px solid #222;
    }
  }

  .roll-surface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 100%;
    background-color: $board-color;
    cursor: pointer;
  }

  .rail {
    border-radius: 0px !important;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-top: 25px solid #222;
    border-bottom: 25px solid #222;

    .rail-checker-box {
      height: 15vw;
      width: $checker-width;
      border: 1px solid $primary-dark;
    }
    .off-checker-box {
      height: 8vw;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .cube-container {
      height: $checker-width;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .dice-container {
      height: $checker-width * 1.5;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
  }

  .off-container {
    border-radius: 0px !important;
    display: flex;
    align-items: center;
    padding: 10px;

    border-top: 25px solid #222;
    border-bottom: 25px solid #222;
    border-right: 25px solid #222;

    .off-checker-box {
      height: 8vw;
      width: $checker-width;
      border: 1px solid $primary-main;
    }
    .cube-container {
      width: 2vw;
      height: 2vw;
      border: 1px solid $primary-main;
      margin: 1vw auto;

      .cube {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        cursor: pointer;
      }
    }
    .dice-container {
      height: $checker-width * 1.5;
      width: $checker-width;
      border: 1px solid $primary-main;
      margin: auto auto;
    }
  }

  .quadrant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $board-color;
    min-width: $point-width * 7;

    &.S {
      flex-direction: row-reverse;
    }

    .point {
      position: relative;
      display: flex;
      background-color: $board-color;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      min-width: $checker-width;
      max-width: $checker-width;
      min-height: $point-height;

      &.north {
        flex-direction: column;

        &.even {
          background-image: url('../components/Point/images/point-north-even.svg');
        }

        &.odd {
          background-image: url('../components/Point/images/point-north.svg');
        }
      }

      &.south {
        flex-direction: column-reverse;
        &.even {
          background-image: url('../components/Point/images/point-south-even.svg');
        }

        &.odd {
          background-image: url('../components/Point/images/point-south.svg');
        }
      }

      .checker-box {
        display: flex;

        &.north {
          flex-direction: column;
        }

        &.south {
          flex-direction: column-reverse;
        }
      }
    }
  }
  .point-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.SW,
    &.SE {
      flex-direction: row-reverse;
    }

    .point-label {
      font-size: 0.6rem;
    }
  }
}

// FIXME: This rule handles an iOS (yes, iOS) bug that prevents
// proper scaling of background svgs. Find a better solution.
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .point {
    background-image: none !important;
    background-color: $primary-main !important;
    &.even {
      background-color: $primary-light !important;
    }
  }
}
