@import './constants.scss';
@import './sign-in.scss';
@import './home.scss';

@import './lobby.scss';
@import './checker.scss';
@import './board.scss';
@import './game.scss';

.nodots-player-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li: {
    margin: 0px;
    padding: 0px;
  }
}

.nodots-backgammon-action {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin: 0.5vh;
  padding: 0.5vh;
  border: $border;
  border-radius: $border-radius;
  .action {
    width: 20%;
    text-align: center;
    cursor: pointer;
  }
}
