// @import url(./home.scss);
// All sizes are based on the checker
$checker-height: 8vh;

$primary-light: rgb(168, 175, 199);
$primary-main: rgb(87, 95, 144);
$primary-main-50: rgb(87, 95, 144, 0.5);
$primary-main-20: rgb(87, 95, 144, 0.5);

$border-radius: 5px;
$border: 1px solid;

.checker {
  min-width: 0px !important;
  min-height: 0px !important;
  height: $checker-height !important;
  width: $checker-height !important;
  border-radius: 50% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#LobbyPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  #LobbyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    #LobbyList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .lobby {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5vh;
        margin: 0.5vh;
        padding: 0.5vh;
        border: $border;
        border-radius: $border-radius;
        .lobby-name {
          width: 50%;
          text-align: center;
        }
        .lobby-players {
          width: 20%;
          text-align: center;
        }
        .lobby-join {
          width: 20%;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

#SignInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  #SignInForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      width: 30vw;
    }
  }
}

#GameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  #GameNotificationsContainer {
    text-align: center;
    margin: 0 auto 1vh auto;
  }

  #BoardContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    #Bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: $checker-height;
      height: 100%;
      padding: 0 0.5vh;
      .pip-count {
        font-size: 1rem;
        padding: 0px;
        margin: 0px;
        height: 1rem;
        max-width: 3vw;
      }
    }

    #Off {
      padding: 0 0.5vh;
    }
    .cube {
      width: $checker-height * 0.8 !important;
      height: $checker-height * 0.8 !important;
      border: $border !important;
      border-radius: $border-radius;
      font-size: 1.5rem !important;
      font-weight: 800 !important;
    }
    .board-half {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      .point-labels {
        display: none;
        flex-direction: row;
        justify-content: space-around;
        &.south {
          flex-direction: row-reverse;
        }
      }
      .quadrant-container {
        display: flex;
        flex-direction: column;
        &.south {
          flex-direction: column-reverse;
        }
        .quadrant {
          display: flex;
          min-height: $checker-height * 5;
          .point {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: $checker-height * 5;
            min-width: $checker-height;
            margin: 0 0.5vh;
            .point-background {
              &.south {
                transform: rotate(180deg) !important;
              }
            }
          }
          &.south {
            flex-direction: row-reverse;
            .point {
              flex-direction: column-reverse;
              align-items: flex-start;
              margin: 0 0.5vh 0 0.5vh;
            }
          }
        }
      }
      .roll-surface {
        min-height: $checker-height * 1;
      }
    }

    .checker-container {
      display: flex;
      position: absolute;
      flex-direction: column;
      &.south {
        flex-direction: column-reverse;
      }
    }

    .dice-container {
      min-height: $checker-height * 0.5;
      min-width: $checker-height + 0.5vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      .die {
        height: $checker-height * 0.5;
        width: $checker-height * 0.5;
        margin: 0 0.5vh;
        cursor: pointer;
      }
      .dice-switcher {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 932px) {
  #GameContainer {
    flex-direction: row;
    #GameNotificationsContainer {
      width: 25%;
      margin: 0;
      #GameNotifications {
        font-size: 0.6rem !important;
        width: 100%;
        padding: 2px;
      }
    }
    #BoardContainer {
      width: 75%;
      flex-direction: row;
      align-items: first baseline;
      justify-content: space-evenly;
      margin: 5px auto;
      #Off {
        display: none;
        .cube {
          font-size: 1rem;
          width: $checker-height * 0.6 !important;
          height: $checker-height * 0.6 !important;
        }
      }
      #Bar {
        display: none;
      }
    }
  }
}

.nodots-player-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li: {
    margin: 0px;
    padding: 0px;
  }
}

.nodots-backgammon-action {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin: 0.5vh;
  padding: 0.5vh;
  border: $border;
  color: $primary-main;
  border-radius: $border-radius;
  .action {
    width: 20%;
    text-align: center;
    cursor: pointer;
  }
}
